services:
  app:
    image: registry.infra.rtkit.dev/mvp/entity-house/main
    build:
      context: .
    environment:
      PROTO_PATH: /protos
      PROTO_OUT_PATH: /protos_gen_out
      PROTO_IMPORT_PATH: .;/proto_deps
    volumes:
      - ./protos:/protos
      - ./protos_gen_out:/protos_gen_out
#    command: ["sleep","600"]
